<div *ngFor="let post of latestPosts" class="container my-latest-posts-container">
    <!-- {{ post.title }} -->
    <div class="post">
        <div class="authorimg">
            <img class="img-circular" src="../assets/download (1).jpg" alt="profilepicture">
            <span class="author"> {{ post.author.name }} </span>
        </div>
        <p class="title">{{ post.title }}
        </p>
        <p *ngIf="post.description.length > 200" class="intro" style="height: 40px;" ellipsis> {{ post.description }}</p>
            <p *ngIf="post.description.length <= 200" class="intro"> {{ post.description }}
            <!-- Software architecture refers to the fundamental structures of a software system and the
            discipline of creating such structures and systems. Each structure comprises software elements, relations
            among them, and properties of both elements and relations. -->
        </p>
        <!-- <div id="fos">
            <p>
                {{ post.description }}
            </p>  
        </div> -->
        <!-- <p class="timestamp">{{ post.date.toLocaleString('default',{ month : 'short'}) }} {{ post.date.getDate()+','}} {{ post.date.getFullYear()}}</p> -->
        <p class="timestamp">{{ post.timeAgoDate }}</p>
    </div>
</div>
