.my-latest-posts-container{
    display: flex;
    flex-direction: column;
    background-color: #f7f5f9;
    padding-left: 0px;
}
.authorimg{
  padding-left: 42px;
  padding-right: 0px;
}
.title{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--color-neutral-black);
    padding-left: 43px;
    padding-top: 10px;
    margin-bottom: 5px;
}
.intro{
  font-family: 'Open Sans',sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--color-neutral-black);
  padding-left: 43px;
  margin-bottom: 7px; 
}
.timestamp{
    font-family: 'Open Sans',sans-serif;
  font-size: 10px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5d5d5d;
  padding-left: 43px;
}
.author{
    padding-left: 10px;
    padding-top: 35px;
    padding-bottom: 10px;
    font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--color-neutral-black);
}
.img-circular{
  border-radius: 50%;
  height: 15px;
  width: 15px;
  /* padding-left: 42px;
  padding-right: 0px; */
}
hr{
  width: 386px;
  height: 2px;
  margin: 14.5px 191.5px 13.5px 9.5px;
  border: solid 1px rgba(93, 93, 93, 0.3);
}
.post{
  margin-bottom: 10px;
  display: block;
}

/* 
#fos { 
  width: 300px; height: 80px; overflow: hidden; 
}

#fos p { padding: 10px; margin: 0; } */
