<!-- <p>profile works!</p> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
<div class="bodyDoc">
<div class="dropdown" style="float: left; padding: 13px">
    <a href="#" onclick="return true;" role="button" data-toggle="dropdown" id="dropdownMenu1" data-target="#" style="float: left" aria-expanded="true">
        <img src="../assets/wish-list-read.png" alt="notificaiton">
    </a>
    <span *ngIf="notificationList !== undefined" class="badge badge-danger">{{ notificationList.length }}</span>
    <ul class="dropdown-menu dropdown-menu-left pull-center" role="menu" aria-labelledby="dropdownMenu1">
        <!-- <ul> -->
        <!-- <ul class="timeline timeline-icons timeline-sm" style="margin:10px;width:210px"> -->
                                        <li *ngFor="let item of notificationList" >
                                            <p>
                                                 {{ item.message }}<br>
                                                 {{ item.createdOn }}
                                                <!-- <span class="timeline-icon"><i class="fa fa-file-pdf-o" style="color:red"></i></span>
                                                <span class="timeline-date">Dec 10, 22:00</span> -->
                                            </p>
                                        </li>
                                        <!-- <li>
                                            <p>
                                                Your “Marketplace Report” PDF is ready <a href="">{{ item.title }}</a>
                                                <span class="timeline-icon"><i class="fa fa-file-pdf-o"  style="color:red"></i></span>
                                                <span class="timeline-date">Dec 6, 10:17</span>
                                            </p>
                                        </li> -->
                                        <!-- <li>
                                            <p>
                                                Your “Top Words” spreadsheet is ready <a href="">{{ item.title }}</a>
                                                <span class="timeline-icon"><i class="fa fa-file-excel-o"  style="color:green"></i></span>
                                                <span class="timeline-date">Dec 5, 04:36</span>
                                            </p>
                                        </li> -->
                                    <!-- </ul> -->
        <!-- <li role="presentation">
            <a href="#" class="dropdown-menu-header"></a>
        </li> -->
    </ul>
</div>
</div>
</body>
</html>