img{
    /* padding-left: 43px; */
    width: 23px;
    height: 15px;
}
.trendlogo{
  width: 40px;
  height: 25px
}
.title{
    padding-left: 43px;
    padding-bottom: 30px;
}
.titletyro{
    font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--color-neutral-black);
  padding-left: 14px;
}
.article{
    padding-left: 15px;
}
.my-trending-posts-container{
    align-content: center;
    justify-content: center;
    padding-top: 35px;
}
.img-circular{
    border-radius: 50%;
    height: 15px;
    width: 15px;
}
.author{
    padding-left: 10px;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}
.titleOfArticle{
    padding-top: 0px;
    padding-right: 25px;
    font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}
.dateOfArticle{
    padding-top: 7px;
    font-family: 'Open Sans',sans-serif;
  font-size: 10px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--color-neutral-black);
}
.article-number{
  width: 57px;
  height: 65px;
  font-family: 'Open Sans',sans-serif;
  font-size: 40px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1c437e;
  padding-right: 15px;
}
.my-posts-container{
  padding-left: 0px;
  padding-right: 0px;
}