<div class="flex-container">
   <div class="first">
      <div class="box">
         <div class="logo">
            <img src="../assets/brand-logo-light.png" alt="logo">
         </div>
         <div class="tyro">
            <p>tyro</p>
         </div>
      </div>
   </div>

   <div class="second">
      <p class="medium">A medium clone</p>
      <p class="who">Who says training projects don’t have to look pretty?</p>

      <div class="form-build">
         <div class="topnav">
            <div>
               <a routerLink="/auth/login" routerLinkActive="active" (click)="onLogin()">LOGIN</a>
            </div>

            <div>
               <a routerLink="/auth/signup" routerLinkActive="active" (click)="onSignUp()">SIGNUP</a>
            </div>
         </div>
      </div>

   <app-login *ngIf="isLogin"></app-login>
   <app-signup *ngIf="!isLogin"></app-signup>

</div>
</div>