<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <app-title></app-title>

    <!-- <p>dashboard works!</p>

    <button (click)="logout()">
        Logout
    </button> -->

    <div class="container-fluid my-container">

        <div class="row my-row1">
            <div class="col my-trending-posts">
                <app-trending-posts></app-trending-posts>
            </div>
        </div>

        <div class="row my-row2">

            <div class="col-md-7 my-col">
                <app-latest-posts></app-latest-posts>
            </div>


            <div class="col-md-5 my-col">
                <div class="followWrap sticky-top">
                    <div class="row">
                        <div class="col col-follow-people">
                            <app-follow-people></app-follow-people>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-follow-topic">
                            <app-follow-topic></app-follow-topic>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<!-- <app-sidebar>Loading sidebar</app-sidebar> -->
<!-- <mat-sidenav #sidenavright position="end">
    Right sideNav
</mat-sidenav> -->
</body>

</html>



<!-- <div class="container-main">
    <div class="container-1">
        <div class="trending">
            <h1> Trending</h1>
            <app-trending-posts></app-trending-posts>
            <p>Flexbox has yet to see the widespread adoption that it deserves. This may be because of all the breaking
                changes it has suffered over the years, or because it is only partially supported in Internet Explorer
                10, or just because Flexbox is a whole ecosystem while previous paradigms have been predominantly based
                on single, ready-to-go properties.</p>
        </div>
    </div>

    <div class="container-2">
        <div class="container-4">
            <div class="latest">
                <h1> Latest</h1>
                <app-latest-posts></app-latest-posts>
                
            </div>
        </div>
        <div class="container-3">
            <div class="followPeople">
                <h1> People</h1>
                <app-follow-people></app-follow-people>
                <p>Flexbox has yet to see the widespread adoption that it deserves. This may be because of all the
                    breaking
                    changes it has suffered over the years, or because it is only partially supported in Internet
                    Explorer
                    10,
                    or just because Flexbox is a whole ecosystem while previous paradigms have been predominantly based
                    on
                    single, ready-to-go properties.</p>
            </div>
            <div class="followTopic">
                <h1> Topic</h1>
                <app-follow-topic></app-follow-topic>
                <p>Flexbox has yet to see the widespread adoption that it deserves. This may be because of all the
                    breaking
                    changes it has suffered over the years, or because it is only partially supported in Internet
                    Explorer
                    10,
                    or just because Flexbox is a whole ecosystem while previous paradigms have been predominantly based
                    on
                    single, ready-to-go properties.</p>
            </div>
        </div>
    </div>
</div> -->