.form-group{
    width:385px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
}
.form-group > input{
    background-color:#dbe1e9;
    width: 360px;
}
.signup
{
    margin-left: 200px;
    margin-top: 20px;
}
.btn
{
    width:160px; 
    color:white;
    background-color:#1c437e; 
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    border-radius: 0;
}
.form-control.is-invalid{
    background-image: none;
 }
 #Name, #Email, #Password{
     float: left;
 }
 .formValidations{
     float: left;
     padding-left: 2%;
     position: absolute;
     left: 85%;
 }
.inputFields{
    padding-bottom: 40px;
}
