<div class="form-container">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" class="form-control" formControlName="Name" id="Name" aria-describedby="Name"
        placeholder="NAME" [ngClass]="{ 'is-invalid': submitted && sf.Name.errors }" required>
      <div *ngIf="submitted && sf.Name.errors" class="invalid-feedback">
        <div *ngIf="sf.Name.errors.required">Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" formControlName="Email" id="Email" aria-describedby="emailHelp"
        placeholder="EMAIL" [ngClass]="{ 'is-invalid': submitted && sf.Email.errors }" required>
      <div *ngIf="submitted && sf.Email.errors" class="invalid-feedback">
        <div *ngIf="sf.Email.errors.email">E-mail format to be followed</div>
        <div *ngIf="sf.Email.errors.required">E-mail is required</div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" formControlName="Password" id="Password" placeholder="PASSWORD"
        [ngClass]="{ 'is-invalid': submitted && sf.Password.errors }" required>
      <div *ngIf="submitted && sf.Password.errors" class="invalid-feedback">
        <div *ngIf="sf.Password.errors.required">Password is required</div>
        <div *ngIf="sf.Password.errors.minlength">Password should contain minimum of 8 characters</div>
        <div *ngIf="sf.Password.errors.maxlength">Password is maxlength</div>
      </div>
    </div>
    <div class="signup">
      <button type="submit" class="btn">SIGNUP</button>

    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error.value}}</div>

  </form>
</div>