<div class="form-container">


  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <input type="email" class="form-control" formControlName="email" id="Email" aria-describedby="emailHelp"
        placeholder="EMAIL" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email format should be followed</div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="Password" formControlName="password" placeholder="PASSWORD"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password is minlength</div>
        <div *ngIf="f.password.errors.maxlength">Password is maxlength</div>
      </div>
    </div>
    <div class="login">
      <button type="submit" class="btn">LOGIN</button>

    </div>
    <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error.value}}</div> -->
  </form>
</div>
<div class="or">
  <p>--OR--</p>
</div>
<div class="social">
  <div class="google">
    <img src="../assets/search.png" alt="google" width="30px" height="30px">
  </div>
  <div class="facebook">

    <img src="../assets/facebook.png" alt="facebook" width="30px" height="30px">
  </div>
</div>