.form-group{
    width:385px;
    margin-left:auto;
    margin-right: auto;
    position: relative;
}
.form-group > input{
    background-color:#dbe1e9;
    width: 360px;
    position: absolute;
}
.login
{
    margin-left: 200px;
    margin-top: 20px;
    
}
.btn
{
    width:160px; 
    color:white;
    background-color:#1c437e; 
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    border-radius: 0;
}
.or{
    margin-left: 280px;
    margin-top: 20px;
    font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.23px;
}
.social
{
    display:flex;
    flex-direction: row;
    margin-left: 220px;
    margin-top: 20px;

}
.facebook{
    margin-left: 65px;
}
.form-control.is-invalid{
   background-image: none;
}
#Email, #Password{
    float: left;
}
.formValidations{
    float: left;
    padding-left: 2%;
    position: absolute;
    left: 85%;
}
.inputFields{
    padding-bottom: 40px;
}
.alert-danger{
    width: 28.5%;
    margin-left: 35%;
}