

<app-title [displayTitleMessage]="displayTitleMessage" [isDisplayBookMark]="isDisplayBookMark"></app-title>
<div *ngIf="post === null" class="loading">
    <mat-spinner [diameter]="50" class="latest-spinner" mode="indeterminate" *ngIf="showSpinner"></mat-spinner>
</div>


<div *ngIf="post !== null" class="read-posts-conatiner">
    
    <div class="title">{{ post.title }}</div>

    <div class="authorimg">
        <img class="img-circular" src="{{ post.profileImageUrl }}" onerror =" this.src='../assets/download (1).jpg';" alt="profilepicture">
        <span class="author"> {{ post.authorName }} </span>
        <div class="timeago"> {{ post.timeAgoDate }}</div>
        
        <div *ngIf="showSpinner">Loading....</div>
        <div class="like-bookmark">
            <!-- <img class="like" [ngStyle]="{'src' : post.isLiked === true ? '../assets/liked.jpg' : '../assets/heart.png'}"> -->
            <img *ngIf="postLiked === false" class="like" src="../assets/heart.png" alt="like" (click)="addLike()">
            <img *ngIf="postLiked === true" class="liked" src="../assets/liked.jpg" alt="like" (click)="unLike()">
            {{ likes }}
            <!-- {{ post.isBookmarked }} -->
            <img *ngIf="!postBookmarked" (click)="addBookmark()" class="bookmark" src="../assets/wish-list-read.png" alt="bookmark">
            <img *ngIf="postBookmarked" (click)="removeBookmark()" class="bookmarked" src="../assets/bookmarked.jpg" alt="bookmark">
            <!-- <img [ngStyle]="{'cursor': postBookmarked === true ? 'no-drop' : 'pointer' }"(click)="addBookmark()" class="bookmark" src="../assets/wish-list.png" alt="bookmark"> -->
        </div>
    </div>
    <div class="description">
        {{post.description}}
    </div>
</div>