<app-title [displayMessage]="displayMessage" [displayBookMark]="displayBookMark"></app-title>



<div class="container-fluid outer-container">

    <div class="row trending-row">
        <div class="col trending-posts">
            <app-trending-posts></app-trending-posts>
        </div>
    </div>

    <div class="row feed-follow-row">

        <div class="col-md-7 my-col">
            <app-latest-posts></app-latest-posts>
        </div>


        <div class="col-md-5 my-col">
            <div class="followWrap sticky-top">
                <div class="row">
                    <div class="col col-follow-people">
                        <app-follow-people></app-follow-people>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-follow-topic">
                        <app-follow-topic></app-follow-topic>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>