<div class="container">
    <p class="title">PEOPLE TO FOLLOW</p>
<!-- {{ listOfPeople }} -->
    <div *ngFor="let person of listOfPeople.slice(0, 3); let i = index">
        <!-- {{ person }} -->
        <figure>
            <input id="{{ 'person ' + i }}" type="image" class="img-circular" src="../assets/profilepicture.png" alt="profilepicture" (click)="onFollowPerson(i)">
            <figcaption>{{ person.name }}</figcaption> 
        </figure>
    </div>
    <!-- <figure>
        <input type="image" class="img-circular" src="../assets/profilepicture.png" alt="profilepicture">
        <figcaption>Rachita</figcaption>
    </figure>

    <figure>
        <input type="image" class="img-circular" src="../assets/download (1).jpg" alt="profilepicture">
        <figcaption>Rachita</figcaption>
    </figure>

    <figure>
        <input type="image" class="img-circular" src="../assets/profilepicture.png" alt="profilepicture">
        <figcaption>Rachita</figcaption>
    </figure> -->

    <figure>
        <input type="image" class="img-circular" src="../assets/group_2.png" alt="profilepicture" (click)="onMorePeople()">
        <figcaption>See more</figcaption>
    </figure> 
</div>