.bookmark-conatiner{
    margin-top: 10em;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 5em;
}
.wrapper{
  display: grid;
  grid-template-columns: 50% 50%;	
}
.img-circular{
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
.bookmark-spinner{
  margin:auto auto;
}
.title{
  font-family:  'Open Sans',sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}
.post{
  margin-top: 2em;
  margin-right : 3em;
}
.postTitle{
  font-family:  'Open Sans',sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}
.description{
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
  margin-bottom: 0.5em;
}
.postTimeAgo{
  font-family: 'Open Sans',sans-serif;
  font-size: 11px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}
.deletebookmark{
  padding-left: 0.5em;
  height: 0.75em;
  cursor: pointer;
}